<?xml version="1.0" ?>
<model>
    <name>pallet_box_mobile</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Filipe Almeida</name>
        <email>filipe.almeida@mov.ai</email>
    </author>
    <description>A pallet to be used in pallet transport simulations.</description>
</model>
